@using SportsProGeorge.Models
@model IncidentViewModel
@{
    ViewData["Title"] = "List Incidents";
    Layout = "_Layout";
}
<h2>Incident Manager</h2>
<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link @(Model.FilterSpecify == "" ? "active" : "")" asp-action="Index">All Incidents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Model.FilterSpecify == "unassigned" ? "active" : "")" asp-action="Index" asp-route-filter="unassigned">Unassigned Incidents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Model.FilterSpecify == "open" ? "active" : "")" asp-action="Index" asp-route-filter="open">Open Incidents</a>
        </li>
    </ul>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Customer
            </th>
            <th>
                Product
            </th>
            <th>
                Date Opened
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in @Model.Incidents)
        {
            <tr>
                <td>
                    @incident.Title
                </td>
                <td>
                    @incident.Customer.Name
                </td>
                <td>
                    @incident.Product.Name
                </td>
                <td>
                    @incident.DateOpened
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentID" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentID" class="btn btn-danger">Delete</a>
                </td>
                </tr>
        }
	</tbody>
</table>
<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>